@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

:root {
  --background-color-primary: #0f0d11;
  --background-color-secondary: #fafafa;
  --background-color-darker: #111225;
  --text-primary-color: #fff;
  --element-size: 6rem;
  --text-secondary-color: #d1d5db;
  --primary-color: #6b21a8;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #ffffff;
  --background-color-secondary: #fafafa;
  --background-color-darker: #111225;
  --text-primary-color: #fff;
  --element-size: 6rem;
  --text-secondary-color: #d1d5db;
  --primary-color: #6b21a8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color-primary);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.span-load {
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 70px;
}

#root, #__next {
  isolation: isolate;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6em;
  gap: 5rem;
}

.main-heading {
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
}

.lunch {
  padding: 20px;
  width: 60%;
  height: 80%;
  background-color: var(--background-color-primary);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img_result {
  gap: 20px;
  border-radius: 8px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.span-result {
  font-weight: 500;
  font-size: 40px;
  color: var(--text-primary-color);
  overflow-wrap: break-word;
}

.confetti{
  position: absolute;
  max-width: 640px;
  display: block;
  margin: 0 auto;
  user-select: none;
}

.img_result img {
  width: 80%;
  height: 70%;
  animation: fade-in 2s, wiggle 2s ease-in-out 1s forwards;
  transform-origin: center;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .lunch {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .span-load {
    font-size: 25px;
  }
  .span-result {
    font-size: 20px;
  }
  .img_result {
    width: 300px;
    height: 900px;
  }
}

.lunch__button {
  height: 38px;
  width: 65%;
  border-radius: 6px;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  transition: .2s ease;
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.lunch__button:hover {
  background-color: #7e22ce;
  cursor: pointer;
}

.lunch__button:active {
  transform: translateY(-2px);
}

.reset__button {
  height: 38px;
  width: 15%;
  border-radius: 6px;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  transition: .2s ease;
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.reset__button:hover {
  background-color: #7e22ce;
  cursor: pointer;
}

.reset__button:active {
  transform: translateY(-2px);
}

.footer {
  clear: both;
  position: absolute;
  background-color: var(--background-color-darker);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  bottom: 0;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary-color);
}
.footer__nav--link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.footer__nav--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  color: var(--text-secondary-color);
}

.footer__nav--icon:hover {
  transform: translateY(-2px);
  color: #6b21a8;
}

.footer__rights {

}

.footer__rights--text {
  text-align: center;
  font-weight: 500;
  color: var(--text-secondary-color);
}

.footer_nav--li:hover {
  color: #a855f7;
}


@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.loading-dots {
  font-size: 50px;
  text-align: center;
  width: 900px;
}

.loading-dots span {
  color: var(--text-primary-color);
  display: inline-block;
  animation: loading 1.5s infinite;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0.0s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 1.0s;
}

@keyframes loading {
  0%, 100% {
      opacity: 0.2;
  }
  50% {
      opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.hidden {
  display: none;
}


@keyframes wiggle {
  0% {
      transform: translateX(0);
  }
  9% {
    transform: translateX(-10px) rotate(-45deg);
  }
  14% {
    transform: translateX(10px) rotate(45deg);
  }
  19% {
    transform: translateX(-10px) rotate(-35deg);
  }
  25% {
      transform: translateX(10px) rotate(35deg);
  }
  33% {
      transform: translateX(-10px) rotate(-25deg);
  }
  41% {
    transform: translateX(10px) rotate(25deg);
  }
  50% {
      transform: translateX(-10px) rotate(-15deg);
  }
  58% {
    transform: translateX(10px) rotate(15deg);
  }
  64% {
    transform: translateX(-10px) rotate(-10deg);
  }
  75% {
      transform: translateX(10px) rotate(-10deg);
  }
  81% {
    transform: translateX(-10px) rotate(-5deg);
  }
  92% {
    transform: translateX(10px) rotate(5deg);
  }
  100% {
      transform: translateX(0);
  }
}